body {
font-family:"Open Sans", Calibri, Candara, Arial, sans-serif;
color:#555;
background-color:#fff;
margin:0;
padding:20px 30px 40px;
}

a {
color:#007fff;
text-decoration:none;
}

a:hover,a:focus {
color:#06c;
text-decoration:underline;
}

h1,h2,h3,h4,h5,h6 {
font-family:inherit;
font-weight:300;
color:#080808;
text-rendering:optimizelegibility;
margin:10px 0;
line-height: 1.1em;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
font-weight:400;
line-height:1em;
color:#dfdfdf;
}

blockquote p {
margin-bottom:0;
font-size: 1em;
font-weight:300;
line-height:1.25em;
}

blockquote small {
display:block;
color:#bbb;
}

blockquote small:before {
content:'\2014 \00A0';
}

blockquote {
background-color:#eee;
border-left-color:#bbb;
padding:10px 15px;
}

blockquote.pull-right {
border-right-color:#bbb;
padding:10px 15px;
}

.pager .next {
    float: right;
}

.pager li>a:hover, .pager li>span:hover {
    color: #fff;
    background-color: #080808;
}

.pager li>a, .pager li>span {
    color: #080808;
    background-color: #dfdfdf;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn {
padding: 22px 30px;
text-shadow: none;
background-image: none;
border: 0;
-webkit-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
background-color: #0f82f5;
box-shadow: none;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
background-repeat: repeat-x;
}


/*
 * Theme Name: Joejag Minimal
 * Theme URI: http://code.joejag.com
 * Author: JoeWright
 * Author URI: http://code.joejag.com/
 * Description: Damn simple 
 * Version: 1.0
 * License: GNU General Public License
 * License URI: license.txt
 * Tags: light
 * */

body {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;

    font-size: 1.1em;
    line-height:1.2em;
}


h1 { font-size: 2.7em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }

p  { margin-bottom: 1.2em; }
ul { padding-bottom: 1.2em; }
li { line-height: 1.5em; }

#wrapper { max-width: 1080px; width: 100%; margin: 0 auto; }

#sidebar { font-size: 0.85em; }
.article_heading { padding-left: 72px; padding-bottom: 60px; }
.mugshot { padding-bottom: 1.2em; }

.date_label { position: absolute; margin-left: -25px; }
.date_day { font-size: 1.5em; text-align: center; font-weight: bold }
.date_month { text-transform: uppercase; text-align: center; font-weight: bold}
.date_year { text-align: center; font-weight: bold}

#comments_heading {text-align: center; padding-bottom: 1.2em  }
.comment_meta { padding-bottom: 1.2em }
#respond_box input, textarea { width: 66%;}
ul,.mugshot,.comment_meta { padding-bottom:1.2em; }

.comment {margin: 10px 10px; padding: 25px 25px;}

@media (max-width: 800px) { 
    body { font-size: medium; padding-left: 0.5em; padding-right: 0.5em; } 
    .date_label { margin-left: -2px; width: 3em;} 
    .article_heading { padding-left: 2.8em; padding-bottom: 1.5em }
    h1 { padding-left: 3em; }
    blockquote p { font-size: medium; }
}

@media (max-width: 500px) { 
    body { font-size: small; padding-left: 0.5em; padding-right: 0.5em; } 
    .article_heading { padding-left: 0; padding-bottom: 1em }
    h1 { padding-left: 1.5em; }
    blockquote p { font-size: small; }
    .date_label { position: relative; width: 93%; margin-left: 0px; padding: 0.5em; padding-left: 1em;}
    .date_day { font-size: small; display: inline-block; }
    .date_month { display: inline-block; }
    .date_year { display: inline-block; }
}
