body {
font-family:"Open Sans", Calibri, Candara, Arial, sans-serif;
line-height:20px;
color:#555;
background-color:#fff;
font-size:18px;
margin:0;
padding:20px 30px 40px;
}

a {
color:#007fff;
text-decoration:none;
}

a:hover,a:focus {
color:#06c;
text-decoration:underline;
}

h1,h2,h3,h4,h5,h6 {
font-family:inherit;
font-weight:300;
line-height:20px;
color:#080808;
text-rendering:optimizelegibility;
margin:10px 0;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
font-weight:400;
line-height:1;
color:#dfdfdf;
}

h1,h2,h3 {
line-height:40px;
}

h1 {
font-size:50px;
}

h2 {
font-size:42px;
line-height:42px;
}

h6 {
font-size:11.9px;
}

blockquote p {
margin-bottom:0;
font-size:17.5px;
font-weight:300;
line-height:1.25;
}

blockquote small {
display:block;
line-height:20px;
color:#bbb;
}

blockquote small:before {
content:'\2014 \00A0';
}

blockquote {
background-color:#eee;
border-left-color:#bbb;
padding:10px 15px;
}

blockquote.pull-right {
border-right-color:#bbb;
padding:10px 15px;
}

h3,h1 small {
font-size:24.5px;
}

h4,h2 small {
font-size:17.5px;
}

h5,h3 small,h4 small {
font-size:14px;
}


/*
 * Theme Name: Joejag Minimal
 * Theme URI: http://code.joejag.com
 * Author: JoeWright
 * Author URI: http://code.joejag.com/
 * Description: Damn simple 
 * Version: 1.0
 * License: GNU General Public License
 * License URI: license.txt
 * Tags: light
 * */

body {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;

    font-size: 18px;
}

h1 { font-size: 50px; }
h2 { font-size: 42px; line-height: 42px; }
p  { margin-bottom: 1.2em; }
ul { padding-bottom: 1.2em; }
li { line-height: 1.5em; }

#wrapper { max-width: 1080px; width: 100%; margin: 0 auto; }

#sidebar { font-size: 15px; }
.article_heading { padding-left: 72px; padding-bottom: 60px; }
.mugshot { padding-bottom: 1.2em; }

.date_label { position: absolute; margin-left: -25px; }
.date_day { font-size: 20px; text-align: center; font-weight: bold }
.date_month { text-transform: uppercase; text-align: center; font-weight: bold}
.date_year { text-align: center; font-weight: bold}

#comments_heading {text-align: center; padding-bottom: 1.2em  }
.comment_meta { padding-bottom: 1.2em }
#respond_box input, textarea { width: 66%;}
ul,.mugshot,.comment_meta { padding-bottom:1.2em; }

.comment {margin: 10px 10px; padding: 25px 25px;}
